<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiguliuxing.dts.db.dao.DtsMerchantMapper">

    <!-- 结果返回类型-->
    <resultMap id="BaseResultMap" type="com.qiguliuxing.dts.db.domain.DtsMerchant">

        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="deleted" jdbcType="BIT" property="deleted" />
        <result column="role_ids" jdbcType="VARCHAR" property="roleIds" typeHandler="com.qiguliuxing.dts.db.mybatis.JsonIntegerArrayTypeHandler" />
        <result column="des" jdbcType="VARCHAR" property="des" />
        <result column="tele" jdbcType="VARCHAR" property="tele" />
        <result column="id_brand" jdbcType="VARCHAR" property="id_brand" />

    </resultMap>


    <insert id="addMerchant" useGeneratedKeys="true" keyProperty="id" parameterType="com.qiguliuxing.dts.db.domain.DtsMerchant">
        insert into dts_merchant(
username,password,last_login_ip,last_login_time,avatar,add_time,update_time,des,tele,id_brand
) VALUES(#{username},#{password},#{lastLoginIp},#{lastLoginTime},#{avatar},#{addTime},#{updateTime},#{des},#{tele},#{id_brand})
    </insert>

    <select id="selectByAll" resultMap="BaseResultMap">
        SELECT  * FROM  dts_merchant where deleted = 0
    </select>

    <select id="selectMerchantById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * FROM dts_merchant WHERE id=#{id,jdbcType=INTEGER}
    </select>

    <update id="logicalDeleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          @project https://github.com/itfsw/mybatis-generator-plugin
        -->
        update dts_merchant set deleted = 1
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateById_role" parameterType="com.qiguliuxing.dts.db.domain.DtsMerchant">
            update dts_merchant
            <set>
                <if test="username!=null and username!=''">
                    username=#{username},
                </if>
                <if test="password!=null and password!=''">
                    password=#{password},
                </if>
            </set>
            where id=#{id}


    </update>


    <update id="updateByPrimaryKeySelective" parameterType="com.qiguliuxing.dts.db.domain.DtsMerchant">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update dts_merchant
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginIp != null">
                last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="roleIds != null">
                role_ids = #{roleIds,jdbcType=VARCHAR,typeHandler=com.qiguliuxing.dts.db.mybatis.JsonIntegerArrayTypeHandler},
            </if>
            <if test="des != null">
                `des` = #{des,jdbcType=VARCHAR},
            </if>
            <if test="tele != null">
                tele = #{tele,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>



    <select id="selectByName" resultType="com.qiguliuxing.dts.db.domain.DtsMerchant" parameterType="java.lang.String">
        SELECT * FROM dts_merchant WHERE username=#{username} AND deleted != 1
    </select>


    <insert id="insertSelective" parameterType="com.qiguliuxing.dts.db.domain.DtsMerchant">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into dts_merchant
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="lastLoginIp != null">
                last_login_ip,
            </if>
            <if test="lastLoginTime != null">
                last_login_time,
            </if>
            <if test="avatar != null">
                avatar,
            </if>

                add_time,

                update_time,

            <if test="deleted != null">
                deleted,
            </if>
            <if test="roleIds != null">
                role_ids,
            </if>
            <if test="des != null">
                `des`,
            </if>
            <if test="tele != null">
                tele,
            </if>
            id_brand,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginIp != null">
                #{lastLoginIp,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>

                #{addTime,jdbcType=TIMESTAMP},


                #{updateTime,jdbcType=TIMESTAMP},

            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
            <if test="roleIds != null">
                #{roleIds,jdbcType=VARCHAR,typeHandler=com.qiguliuxing.dts.db.mybatis.JsonIntegerArrayTypeHandler},
            </if>
            <if test="des != null">
                #{des,jdbcType=VARCHAR},
            </if>
            <if test="tele != null">
                #{tele,jdbcType=VARCHAR},
            </if>
            #{id_brand,jdbcType=VARCHAR},
        </trim>
    </insert>
</mapper>